node_modules
.env

# Ignore everything inside output
output/*

# Allow cards folder
!output/cards/
!output/cards/*.svg

# Keep placeholder
!output/.gitkeep

# Explicitly ignore runtime JSON
output/stats.json
output/Abhi-lash19.json
output/repo-cache/